@media screen and (max-width: 1150px) {
    .container {
        width:90%;
        
    }
    .menu {
        width: 90%;
        max-width: 90%;
        justify-content: center;
    }
    nav ul {
        max-width: 90%;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }

    nav ul li a {
        padding: 20px 0px;
        margin-left: 0;
    }
   
    .sostenible .slider {
        width: 100%;
        margin: auto;
        justify-content: center;
    
    }
    .mejor-banco {

    flex-direction: column;
   
    }

    .filiales .slider {
        width: 90%;
        margin: auto;
    

        
    }
    .footer .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: none;
    }

    .estamos_para_ti p {
       
        width: 90%;
   
    }

    .estamos_para_ti h1 {
       
        width: 90%;
   
    }
    
    .resultados h1 {
        width: 90%;
    }
    
    .resultados p {
        width: 90%;
    }
    .sostenible h1 {
        width: 90%;
    }
    
    .sostenible p {
        width: 90%;
    }

    .sostenible .owl-prev {

       
    }
    
    .sostenible .owl-next {
    
        
    }

    .filiales .owl-prev {

        display: none;
     }
     
     .filiales .owl-next {
     
         display: none;
     }

     .owl-stage {
         display: flex;
         justify-content: center;
         align-items: center;
     }
    

     .sostenible .card {
    margin: auto; 
    max-width: 90%;
    box-shadow: none;
    
    }

    .sostenible .active .card {

      
        transform: box-shadow 0.3s ease, transform 0..5s 0.4s ease-in, opacity 0.4s ease;
    }

    .mejor-banco img {
        margin: auto;
        width: 90%;
        max-width: 100%;
        padding: 15px 20px 15px 20px;
    }
    
    .mejor-banco p {
        padding: 0 30px;
        text-align: center;
    }
    .mejor-banco h1 {
        padding: 20px 30px;
        text-align: center;
        color: #0040A8;
    }
    .resultados img {
        width: 50%;

    }

    .boton1, .boton2 {
        margin: 10px 10px 30px 10px;
        
    }
    .mejor-text {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .menu {
        
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin: auto;
    
    }
    .logo {
        display: none;
    }
    .menu-logo{
        margin: 0;
        z-index: 999;
        width: 100%;
        padding:0px;
     position: fixed;
     background:#ffffff;
    }
    .logores  img{
       margin-left: 5%;
    }
     .menu-logo   .logores{
         width: 100%;
         display: flex;
         height: 67px;
         
         
         align-items: center;
     }

     .menu-logo  {
         display: block;
     }
 
     .btn-content {
         display: flex;
         z-index: 999999;
         margin-right:15px;
     }
    

     
    
    nav {
        transition: all .3s ease-in-out;
        position: fixed;
        display: flex;
        flex-direction: column;justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        max-width: 100%;
        
        transform: translateX(-120%);
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.35);
   
    }

    .active-menu {
        transform: translateX(0%);
    }
    

    


    
}

@media screen and (max-width: 900px) { 
    .resultados img {
        width: 100%;
        margin: auto;

    }
    .res { 
        flex-direction: column;
    }
    .slide_estamos {
        
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 40px auto;
    }
    .mapa {
        order: 1;
        margin: auto;
    }
    .botones {
        margin: 0;
        flex-direction: row;
        justify-content: center;
    }
}


